// main: style.scss
html, body {
  margin: 0;
  padding: 0;
  background-color: #F5F4F8;
}

* {
  box-sizing: border-box;
}

@mixin ease($spanne: 200, $typ: linear) {
  transition: all #{$spanne}ms #{$typ};
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #F5F5F5;
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}

#repos {
  display: none;
}

.clearfix {
  clear: both;
}

.clearfix {
  clear: both;
}
